@charset "utf-8";

.yetou {
    height: 100px;
    background-image: url(../images/yetou.png);
    background-size: 100%;
}

.yeshen {
    background-color: #F1F1F1;
    padding-left: 10%;
}

.yeshen_left {
    height: 100%;
    width: 850px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FFF;
    margin-bottom: 100px;
}

.head_list {
    height: 100px;
    background-color: #FFF;
    padding-top: 20px;
    border-bottom: 2px solid #EAEAEA;
}

.title_box {
    font-size: 23px;
}

.search_box {
}

.form-control {
    width: 250px;
}

.question_list {
    height: 100%;
    background-color: #FFF;
}

.box {
    border-bottom: 2px solid #EAEAEA;
    height: 140px;
}

.question_detail {
    margin-bottom: 20px;
    padding-left: 30px;
}

.question_detail p {
    width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#yeshen {
    width: 1200px;
}

.ask_user {
    float: right;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 20px;
    width: 100%;
}

.ask_user .iconfont {

    background-color: white;
    padding-bottom: 4px;
    border: 0px solid #EAEAEA;
}

.recommend_data .iconfont {

    background-color: white;
    border: 0px solid #EAEAEA;
}

.badge {
    /*margin-left: 4px;*/
    font-size: 10px;
    margin-top: 0px;
}

.author {
    margin-left: 63%;
}

.recommend_box {
    width: 350px;
    padding-top: 30px;
    background-color: white;
    height: 580px;
    padding-left: 20px;
    padding-right: 20px;
}

.right_neirong {
    width: 100%;
    height: 26%;
    margin-bottom: 30px;
    background-color: white;
    padding-top: 15px;
    /*border: 2px solid #EAEAEA;*/
}

.recommend_title {
}

.box_title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

.recommend_title p {
    font-size: 20px;
    width: 100%;

    border-radius: 10px;
}

.recommend_content {
}

.recommend_content p {
    width: 100%;
    height: 30px;

    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.recommend_data {
    width: 100%;
    height: 30px;
    /*padding-left: 6%;*/
}

/* CSS Document */
body {
    padding-top: 50px;
    padding-bottom: 40px;
    min-width: 1500px;
}

.register {
    float: right;
    font-size: 16px;
    padding-top: 14px;
}

@media screen and (max-width: 1200px) {
    .yeshen_right {
        display: none;
    }
}

@media screen and (min-width: 1600px) {
    .yeshen_left {
        height: 100%;
        width: 1100px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #FFF;
    }

    .recommend_box {
        width: 400px;
        padding-top: 15%;
        padding-left: 15%;
        padding-right: 15%;
        background-color: #FFF;
        height: 850px;
        margin-left: 250px;
    }

}
@media screen and (max-width: 360px) {
        .yeshen_right
        .col-md-3 {
            display: none;
        }

        .yeshen {
            padding: 0px 0px 0px 0px;
            width: 100%;
        }

        #yeshen {
            width: 100%;
        }

        .recommend_box {
            display: none;
        }

        .col-md-9 {
            padding-right: 0px;
            padding-left: 0px;
        }

        .row {
            margin-left: 0px;
            margin-right: 0px;
        }

        .yeshen_left {
            height: 100%;
            width: 100%;
            background-color: #FFF;
            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: 0px;
        }

        body {
            padding-bottom: 0px;
            min-width: auto;
        }

        .question_detail {
            margin-bottom: 20px;
            padding-left: 5%;
        }

        .col-md-4 {
            margin-top: 1%;
        }

        .col-md-2 {
            margin-top: 1%;
        }

        .form-control {
            width: 100%;
        }

        .yetou {
            height: 20px;
            background-image: url(../images/yetou.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }

        .question_detail p {
            width: 95%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .pagination{
            margin-top: 0px;

            height: 90%;
        }
        .col-md-9 nav{

        }

    }
hr{
    margin-bottom: 0px;
    margin-top: 0px;
}
