@charset "utf-8";
#describe_input
{	width:80%;
height:60px;
border-radius:20px;}
        body {
            padding-top: 50px;
            padding-bottom: 40px;
            color: #5a5a5a;
        }
		.register{
			float:right;
			font-size:16px;
			padding-top:14px;
			}
.question_body{
		
		height:100%;
		background-color:#ECECEC;

}
	.new_question
	{
		height:100%;
		width:80%;
		background:url(../images/lostandfind.png);
		background-size:100%;
		margin-left:12.5%;
		padding-left:3%;
		padding-right:3%;
		border-radius: 15px;
		margin-bottom: 50px;
	}
	.row
	{	margin-left:8px;
		height:50px;}
	.column{
		font-size:18px;
		color:#000;
		margin-top:15px;}
	.main_input_box{
		margin-top:20px;
	}
	.title p
	{    font-size:30px;
	text-align:center;
		}
	label
	{	font-size:18px;
		}
	.user_information
	{width:80%;
	height:70px;
	text-align:right;
	border-bottom:2px solid #DADADA;
	
	}
	.lost_time_box
	{
		margin-top:25px;}
	.time
	{
		margin-right:20px;}
	.information
	{
		width:80%;
		height:40px;}
	.information.describe
	{
		height:80px;}
		.information.describe p
	{
		height:80px;}
	.information p
	{	border-radius:15px;
		text-indent:2em;
		font-size:20px;}
	.picture_show
	{
		margin-top:10px;
		width:500px;
		height:300px;
   
	}
	#avarimgs
	{	width:500px;
		height:300px;
		border:1px solid;
		}
	.picture
	{
		height:400px;
		width:80%;
		border-bottom:2px solid #DADADA;
		margin-bottom:30px;}
	.answer_list
	{
		width:80%;
		height:100%;
		padding-top:10px;
		padding-left:20px;
		background-color:#ECECEC;
		border-radius:10px;
		margin-bottom: 50px;
	}
	.answer-content-warp
	{   border-left:1px solid #DADADA;
		background-color:#FFF;
		width:95%;
		border-radius:10px;	
		padding-top:10px;
		height:80px;
		margin-top:20px;
		}
	.content
	{ margin-left:30px;
		}
	.content-text
	{
		
	font-size:18px;
	text-indent:2em;}
	.reply
	{	padding-top:8px;
		border-top:1px solid #DADADA ;
		margin-left:70px;
		margin-bottom:10px;}
	.reply-text p
	{	
		font-size:20px;}
	.author
	{	font-size:20px;
	font-weight:700;}
	.comment
	{
		margin-top:70px;}
	.discuss
	{	margin-top:30px;
	margin-left:30px;}
	.btn.bg-primary
	{	width:100px;
	margin-left:30px;
	margin-top:10px;
	margin-bottom: 50px;
	}
	question_body .iconfont .iconfont
	{font-size:20px;}/* CSS Document */

