{% extends 'base.html' %}

{% block title %}打车拼车{% endblock %}

{% block head %}
    <!--  <link rel="stylesheet" href="../static/css/carpool.css" type="text/css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carpool.css') }}">

{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}">主页</a></li>
        <li class="active"><a href="{{ url_for('carpool') }}">打车拼车</a></li>
        <li><a href="{{ url_for('data') }}">约吧</a></li>
        <li><a href="{{ url_for('loststandfind') }}">失物招领</a></li>
    </ul>
{% endblock %}

{% block body %}
    <div class="yetou">
    </div>
    <div class="yeshen">
        <div class="row" id="yeshen">
            <div class="col-md-9">
                <div class="yeshen_left">
                    <header class="head_list">
                        <div class="row">
                            <div class="col-xs-6 col-md-3">
                                <div class="title_box">
                                    <span class="iconfont icon-jichengche" style="font-size:20px;"></span>
                                    打车拼车
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <a href="{{ url_for('carpool_release') }}">
                                    <button type="button" class="btn btn-success" id="release">发布拼车</button>
                                </a></div>
                            <form action="{{ url_for('carpool_search') }}" method="get">
                                <div class="col-xs-6 col-md-4">
                                    <input type="text" class="form-control" placeholder="Search" name="search">

                                </div>
                                <div class="col-xs-6 col-md-2">

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </header>
                    <div class="question_list">
                        {% for q in questions %}
                            <article class="question_wrapper top">
                                <section class="box">
                                    <div class="question_detail">
                                        <header class="title">
                                            <a href="{{ url_for('carpool_text', question_id=q.id) }}">
                                                <h3>{{ q.title }}</h3>
                                            </a>
                                        </header>
                                        <section class="wrap body">
                                            <p><label for="">出发时间:</label>{{ q.time }}
                                                <label for="" style="margin-left: 40px;">目的地:</label>{{ q.destination }}
                                            </p>
                                        </section>
                                        <div class="ask_user">
                                            <span class="author">{{ q.author.username }}</span>
                                            发布于
                                            <span class="time">{{ q.create_time }}</span>
                                        </div>
                                    </div>
                                </section>
                            </article>
                        {% endfor %}
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-lg">
                        <li>
                            {% if s==1 %}
                                <a href="{{ url_for('carpool_search') }}?search={{ search }}&page={{ prev_page }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <a href="{{ url_for('carpool') }}?search={{ search }}&page={{ prev_page }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% endif %}

                        </li>
                        {% for num in num_list %}
                            {% if s==1 %}
                                {% if num==curr_page %}
                                    <li class="active"><a
                                            href="{{ url_for('carpool_search') }}?search={{ search }}&page={{ num }}">{{ num }}</a>
                                    </li>
                                {% else %}
                                    <li class=""><a
                                            href="{{ url_for('carpool_search') }}?search={{ search }}&page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                {% if num==curr_page %}
                                    <li class="active"><a href="{{ url_for('carpool') }}?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% else %}
                                    <li class=""><a href="{{ url_for('carpool') }}?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <li>
                            {% if s==1 %}
                                <a href="{{ url_for('carpool_search') }}?search={{ search }}&page={{ next_page }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <a href="{{ url_for('carpool') }}?page={{ next_page }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
            {% block sidebar %}
                <div class="col-md-3">
                    <div class="recommend_box">
                        <div class="box_title">
                            近期最热
                        </div>
                        {% for question in max_counter_questions %}
                            <div class="right_neirong 1">
                                <div class="recommend_title">
                                    <a href="{{ url_for('carpool_text', question_id=question.id) }}"><p>
                                        {{ question.title }}
                                    </p></a>
                                </div>
                                <div class="recommend_content">
                                    <p>
                                        {{ question.detail }}
                                    </p>
                                </div>
                                <div class="recommend_data">
                                    <label for="" style="">热度:</label>
                                    <button class="iconfont icon-chakan" disabled type="button"><span
                                            class="badge">{{ question.counter }}</span>
                                    </button>
                                    <label for="" style="margin-left: 65px;">评论:</label>
                                    <button class="iconfont icon-pinglun" disabled type="button"><span
                                            class="badge">{{ question.carpool_answers | length }}</span>
                                    </button>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
