{% extends 'base.html' %}

{% block title %}失物招领{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lostandfind.css') }}">
    <link rel="stylesheet" href="../static/css/style.css">

{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}">主页</a></li>
        <li><a href="{{ url_for('carpool') }}">打车拼车</a></li>
        <li><a href="{{ url_for('data') }}">约吧</a></li>
        <li class="active"><a href="{{ url_for('loststandfind') }}">失物招领</a></li>
    </ul>
{% endblock %}

{% block body %}
    <div class="yetou">
    </div>
    <div class="yeshen">
        <div class="row" id="yeshen">
            <div class="col-md-9">
                <div class="yeshen_left">
                    <header class="head_list">
                        <div class="row">
                            <div class="col-xs-6 col-md-3">
                                <div class="title_box">
                                    <span class="iconfont icon-SWGL_YH" style="font-size:20px;"></span>
                                    失物招领
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4">
                                <a href="{{ url_for('lost_release') }}">
                                    <button type="button" class="btn btn-success" id="release"
                                    >发布寻物<span
                                            class="glyphicon glyphicon-search"></span></button>
                                </a>
                                <a href="{{ url_for('find_release') }}">
                                    <button type="button" class="btn btn-success" id="release">
                                        发布招领<span
                                            class="glyphicon glyphicon-search"></span></button>
                                </a>
                            </div>
                            <form action="{{ url_for('lost_find_search') }}" method="get">
                                <div class="col-xs-6 col-md-3">
                                    <input type="text" class="form-control" placeholder="Search" name="search">
                                </div>
                                <div class="col-xs-6 col-md-2">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </header>
                    <div class="question_list">
                        <hr class="feature-divider">
                        <ul class="nav nav-tabs" role="tablist" id="feature-tab">
                            <li class="{% if act==0 %}active{% endif %}" id="tab1"><a href="#find" role="tab"
                                                                                      data-toggle="tab">失物招领</a></li>
                            <li class="{% if act==1 %}active{% endif %}" id="tab2"><a href="#lost" role="tab"
                                                                                      data-toggle="tab">寻物启事</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane {% if act==0 %}active{% endif %}" id="find">
                                <div class="row feature">
                                    {% for qq in questions_a %}
                                        <div class="row">
                                            {% for q in qq %}
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="thumbnail">
                                                        {% if q.picture %}
                                                            <img src="{{ url_for('static', filename='pictures/'+q.picture) }}"
                                                                 alt="...">
                                                        {% else %}
                                                            <img src="{{ url_for('static', filename='images/ex2.png') }}"
                                                                 alt="...">
                                                        {% endif %}
                                                        <div class="caption">
                                                            <h3>{{ q.title }}</h3>
                                                            <p>{{ q.detail }}</p>
                                                            <a href="{{ url_for('find_text', question_id=q.id) }}"
                                                               class="btn btn-primary" role="button"
                                                            >进入</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
{#                              {% 处理分页的复杂操作 %}#}
                                {% if s==1 %}
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination pagination-lg">
                                            <li>
                                                <a href="{{ url_for('lost_find_search') }}?search={{ search }}&page_a={{ a_prev_page }}&activate=0"
                                                   aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            {% for num in a_num_list %}
                                                {% if num==a_curr_page %}
                                                    <li class="active"><a
                                                            href="{{ url_for('lost_find_search') }}?search={{ search }}&page_a={{ num }}&activate=0">{{ num }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class=""><a
                                                            href="{{ url_for('lost_find_search') }}?search={{ search }}&page_a={{ num }}&activate=0">{{ num }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            <li>
                                                <a href="{{ url_for('lost_find_search') }}?search={{ search }}&page_a={{ a_next_page }}&activate=0"
                                                   aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                {% else %}
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination pagination-lg">
                                            <li>
                                                <a href="{{ url_for('loststandfind') }}?page_a={{ a_prev_page }}&activate=0"
                                                   aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            {% for num in a_num_list %}
                                                {% if num==a_curr_page %}
                                                    <li class="active"><a
                                                            href="{{ url_for('loststandfind') }}?page_a={{ num }}&activate=0">{{ num }}</a>
                                                    </li>
                                                {% else %}
                                                    <li class=""><a
                                                            href="{{ url_for('loststandfind') }}?page_a={{ num }}&activate=0">{{ num }}</a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            <li>
                                                <a href="{{ url_for('loststandfind') }}?page_a={{ a_next_page }}&activate=0"
                                                   aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                {% endif %}
                            </div>
                            <div class="tab-pane {% if act==1 %}active{% endif %}" id="lost">
                                <div class="row feature">
                                    {% for qq in questions_b %}
                                        <div class="row">
                                            {% for q in qq %}
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="thumbnail">
                                                        {% if q.picture %}
                                                            <img src="{{ url_for('static', filename='pictures/'+q.picture) }}"
                                                                 alt="...">
                                                        {% else %}
                                                            <img src="{{ url_for('static', filename='images/ex2.png') }}"
                                                                 alt="...">
                                                        {% endif %}
                                                        <div class="caption">
                                                            <h3>{{ q.title }}</h3>
                                                            <p>{{ q.detail }}</p>
                                                            <a href="{{ url_for('lost_text', question_id=q.id) }}"
                                                               class="btn btn-primary" role="button"
                                                            >进入</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <nav aria-label="Page navigation">
                                    <ul class="pagination pagination-lg">
                                        <li>
                                            <a href="{{ url_for('loststandfind') }}?page_b={{ b_prev_page }}&activate=1"
                                               aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        {% for num in b_num_list %}
                                            {% if num==b_curr_page %}
                                                <li class="active"><a
                                                        href="{{ url_for('loststandfind') }}?page_b={{ num }}&activate=1">{{ num }}</a>
                                                </li>
                                            {% else %}
                                                <li class=""><a
                                                        href="{{ url_for('loststandfind') }}?page_b={{ num }}&activate=1">{{ num }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        <li>
                                            <a href="{{ url_for('loststandfind') }}?page_b={{ b_next_page }}&activate=1"
                                               aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block sidebar %}
                <div class="col-md-3">
                    <div class="recommend_box">
                        <div class="box_title">
                            近期最热
                        </div>
                        <div class="right_neirong 1">
                            <div class="recommend_title">
                                <a href="{{ url_for('find_text', question_id=max_counter_question_a.id) }}"><p>
                                    {{ max_counter_question_a.title }}
                                </p></a>
                            </div>
                            <div class="recommend_content">
                                <p>
                                    {{ max_counter_question_a.detail }}
                                </p>
                                <img src="{{ url_for('static', filename='pictures/'+max_counter_question_a.picture) }}"
                                     alt="...">
                                <div class="data_box">
                                    {#                                    <label for="" style="">热度:</label>#}
                                    <button class="iconfont icon-chakan" disabled type="button"><span
                                            class="badge">{{ max_counter_question_a.counter }}</span>
                                    </button>
                                    {#                                    <label for="" style="margin-left: 65px;">评论:</label>#}
                                    <button class="iconfont icon-pinglun" disabled type="button"><span
                                            class="badge">{{ max_counter_question_a.lost_answers | length }}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="right_neirong 2">
                            <div class="recommend_title">
                                <a href="{{ url_for('lost_text', question_id=max_counter_question_b.id) }}"><p>
                                    {{ max_counter_question_b.title }}
                                </p></a>
                            </div>
                            <div class="recommend_content">
                                <p>
                                    {{ max_counter_question_b.detail }}
                                </p>
                                <img src="{{ url_for('static', filename='pictures/'+max_counter_question_b.picture) }}"
                                     alt="...">
                                <div class="data_box">
                                    {#                                    <label for="" style="">热度:</label>#}
                                    <button class="iconfont icon-chakan" disabled type="button"><span
                                            class="badge">{{ max_counter_question_b.counter }}</span>
                                    </button>
                                    {#                                    <label for="" style="margin-left: 65px;">评论:</label>#}
                                    <button class="iconfont icon-pinglun" disabled type="button"><span
                                            class="badge">{{ max_counter_question_b.search_answers | length }}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="div">
                            <div class="monster">
                                <span class="ear left"></span>
                                <span class="ear right"></span>
                                <span class="eye"></span>
                                <span class="mouth">
            <span class="tooth"></span>
            </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{#<script>#}
{#    $(document).ready(function () {#}
{#        $("#tab1").click(function () {#}
{#            $.get("/lostandfind?page=1&activate=0", function () {#}
{##}
{#            })#}
{#        })#}
{#        $("#tab2").click(function () {#}
{#            $.get("/lostandfind?page=1&activate=1", function () {#}
{##}
{#            })#}
{#        })#}
{#    })#}
{#</script>#}










